:root {
  /* MAIN COLORS */
  --color-accent: #a18a68;
  --color-white: #ffffff;
  --color-black: #000000;
  /* NEUTRAL COLORS */
  --color-dark-gray: #707070;
  --color-gray: #d8d8d8;
  --color-light-gray: #efefef;
  /* SERVICE COLORS */
  --color-error: #db2700;
  /* Light theme specific */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-bg-accent: #edd9bb;
  /* Fonts */
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Allerta Stencil", sans-serif;
  /* === FONT WEIGHT === */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* FONT PROPERTIES */
  --font-heading-1-size: 33px;
  --font-heading-1-weight: var(--font-weight-medium);
  --font-heading-1-line-height: 1;
  --font-heading-2-size: 26px;
  --font-heading-2-weight: var(--font-weight-regular);
  --font-heading-2-line-height: 1.35; /* 35 / 26 */
  --font-heading-3-size: 20px;
  --font-heading-3-weight: var(--font-weight-regular);
  --font-heading-3-line-height: 1.3; /* 26 / 20 */
  --font-heading-4-size: 20px;
  --font-heading-4-weight: var(--font-weight-medium);
  --font-heading-4-line-height: 1; /* 20 / 20 */
  --font-heading-5-size: 16px;
  --font-heading-5-weight: var(--font-weight-regular);
  --font-heading-5-line-height: 1.6875; /* 27 / 16 */
  --font-body-large-size: 16px;
  --font-body-large-weight: var(--font-weight-bold);
  --font-body-large-line-height: 1;
  --font-body-medium-size: 14px;
  --font-body-medium-weight: var(--font-weight-regular);
  --font-body-medium-line-height: 1;
  --font-body-small-size: 12px;
  --font-body-small-weight: var(--font-weight-regular);
  --font-body-small-line-height: 1.6667; /* 20 / 12 */
}

[data-theme=dark] {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-dark-gray: #efefef;
  --color-gray: #707070;
  --color-light-gray: #3a3a3a;
}

.actions-header, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  padding-block: clamp(10px, 5vw, 28px);
}
.header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 5;
  background-color: var(--color-accent);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__actions {
  position: relative;
  z-index: 5;
  -webkit-padding-start: 28px;
          padding-inline-start: 28px;
}

.actions-header {
  -webkit-column-gap: clamp(15px, 5vw, 38px);
     -moz-column-gap: clamp(15px, 5vw, 38px);
          column-gap: clamp(15px, 5vw, 38px);
}

.actions-header__icon {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .actions-header__icon:hover {
    color: var(--color-accent);
  }
}

.menu {
  -webkit-padding-end: 48px;
          padding-inline-end: 48px;
  -webkit-border-end: 1px solid var(--color-dark-gray);
          border-inline-end: 1px solid var(--color-dark-gray);
}

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-accent);
    padding: 120px 15px 30px 15px;
    overflow: auto;
    z-index: 0;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 90px;
    background-color: var(--color-bg-accent);
    z-index: 5;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .menu--open {
    right: 0;
  }
  .menu--open::before {
    right: 0;
  }
}
.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
@media (max-width: 767.98px) {
  .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item .menu__icon {
    -webkit-padding-start: 5px;
            padding-inline-start: 5px;
  }
}
.menu__item .menu__icon {
  rotate: 90deg;
  -webkit-transition: rotate 0.3s ease-in-out, color 0.3s ease;
  transition: rotate 0.3s ease-in-out, color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .menu__item .menu__icon:hover {
    color: var(--color-accent);
  }
}
.menu__item .menu__icon--active {
  rotate: 270deg;
  color: var(--color-accent);
}

.menu__link {
  line-height: var(--font-body-small-line-height);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    color: var(--color-accent);
  }
}
.menu__link--active {
  color: var(--color-accent);
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
}
.submenu--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
@media (min-width: 768px) {
  .submenu {
    position: absolute;
    top: 100%;
    translate: -50%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    padding: 30px;
    z-index: 7;
  }
}
@media (max-width: 767.98px) {
  .submenu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 25px;
  }
}

.submenu__section {
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .submenu__section:first-child {
    -webkit-padding-end: 30px;
            padding-inline-end: 30px;
    -webkit-border-end: 1px solid var(--color-gray);
            border-inline-end: 1px solid var(--color-gray);
  }
  .submenu__section:last-child {
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
}
@media (max-width: 767.98px) {
  .submenu__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
    text-align: right;
  }
}

.submenu__title {
  display: inline-block;
  text-transform: uppercase;
}
.submenu__title:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.submenu__items {
  display: grid;
  row-gap: 10px;
}

.submenu__item {
  color: var(--color-dark-gray);
}

.submenu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .submenu__link:hover {
    color: var(--color-accent);
  }
}
.submenu__link--active {
  color: var(--color-accent);
}

.logo {
  position: relative;
  z-index: 5;
  font-family: var(--secondary-font);
  line-height: 1.16;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  font-size: calc(24px + (35 - 24) * (100vw - 320px) / (1920 - 320));
}
.logo::first-letter {
  color: var(--color-accent);
}direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 25px;
  }
}

.submenu__section {
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .submenu__section:first-child {
    -webkit-padding-end: 30px;
            padding-inline-end: 30px;
    -webkit-border-end: 1px solid var(--color-gray);
            border-inline-end: 1px solid var(--color-gray);
  }
  .submenu__section:last-child {
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
}
@media (max-width: 767.98px) {
  .submenu__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
    text-align: right;
  }
}

.submenu__title {
  display: inline-block;
  text-transform: uppercase;
}
.submenu__title:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.submenu__items {
  display: grid;
  row-gap: 10px;
}

.submenu__item {
  color: var(--color-dark-gray);
}

.submenu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .submenu__link:hover {
    color: var(--color-accent);
  }
}
.submenu__link--active {
  color: var(--color-accent);
}

.logo {
  position: relative;
  z-index: 5;
  font-family: var(--secondary-font);
  line-height: 1.16;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  font-size: calc(24px + (35 - 24) * (100vw - 320px) / (1920 - 320));
}
.logo::first-letter {
  color: var(--color-accent);
}

@media (min-width: 767.98px) {
  .menu-icon {
    display: none;
  }
}
.menu-icon {
  width: 30px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
  content: "";
  position: absolute;
  height: 1.3px;
  width: 100%;
  background-color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
}

.menu-icon span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span::before {
  top: -8px;
}

.menu-icon span::after {
  bottom: -8px;
}

.menu-icon.active span {
  background: transparent;
}

.menu-icon.active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.menu-icon.active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}