:root {
  /* MAIN COLORS */
  --color-accent: #a18a68;
  --color-white: #ffffff;
  --color-black: #000000;
  /* NEUTRAL COLORS */
  --color-dark-gray: #707070;
  --color-gray: #d8d8d8;
  --color-light-gray: #efefef;
  /* SERVICE COLORS */
  --color-error: #db2700;
  /* Light theme specific */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-bg-accent: #edd9bb;
  /* Fonts */
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Allerta Stencil", sans-serif;
}

[data-theme=dark] {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-dark-gray: #efefef;
  --color-gray: #707070;
  --color-light-gray: #3a3a3a;
}

.actions-header, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subfooter__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  padding-block: clamp(10px, 5vw, 28px);
}
.header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 5;
  background-color: var(--color-accent);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__actions {
  position: relative;
  z-index: 5;
  -webkit-padding-start: 28px;
          padding-inline-start: 28px;
}

.actions-header {
  -webkit-column-gap: clamp(15px, 5vw, 38px);
     -moz-column-gap: clamp(15px, 5vw, 38px);
          column-gap: clamp(15px, 5vw, 38px);
}

.actions-header__icon {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .actions-header__icon:hover {
    color: var(--color-accent);
  }
}

.menu {
  -webkit-padding-end: 48px;
          padding-inline-end: 48px;
  -webkit-border-end: 1px solid var(--color-dark-gray);
          border-inline-end: 1px solid var(--color-dark-gray);
}

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-accent);
    padding: 120px 15px 30px 15px;
    overflow: auto;
    z-index: 0;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 90px;
    background-color: var(--color-bg-accent);
    z-index: 5;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .menu--open {
    right: 0;
  }
  .menu--open::before {
    right: 0;
  }
}
.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
@media (max-width: 767.98px) {
  .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item .menu__icon {
    -webkit-padding-start: 5px;
            padding-inline-start: 5px;
  }
}
.menu__item .menu__icon {
  rotate: 90deg;
  -webkit-transition: rotate 0.3s ease-in-out, color 0.3s ease;
  transition: rotate 0.3s ease-in-out, color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .menu__item .menu__icon:hover {
    color: var(--color-accent);
  }
}
.menu__item .menu__icon--active {
  rotate: 270deg;
  color: var(--color-accent);
}

.menu__link {
  line-height: var(--font-body-small-line-height);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    color: var(--color-accent);
  }
}
.menu__link--active {
  color: var(--color-accent);
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
}
.submenu--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
@media (min-width: 768px) {
  .submenu {
    position: absolute;
    top: 100%;
    translate: -50%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    padding: 30px;
    z-index: 7;
  }
}
@media (max-width: 767.98px) {
  .submenu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 25px;
  }
}

.submenu__section {
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .submenu__section:first-child {
    -webkit-padding-end: 30px;
            padding-inline-end: 30px;
    -webkit-border-end: 1px solid var(--color-gray);
            border-inline-end: 1px solid var(--color-gray);
  }
  .submenu__section:last-child {
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
}
@media (max-width: 767.98px) {
  .submenu__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
    text-align: right;
  }
}

.submenu__title {
  display: inline-block;
  text-transform: uppercase;
}
.submenu__title:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.submenu__items {
  display: grid;
  row-gap: 10px;
}

.submenu__item {
  color: var(--color-dark-gray);
}

.submenu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .submenu__link:hover {
    color: var(--color-accent);
  }
}
.submenu__link--active {
  color: var(--color-accent);
}

.logo {
  position: relative;
  z-index: 5;
  font-family: var(--secondary-font);
  line-height: 1.16;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  font-size: calc(24px + (35 - 24) * (100vw - 320px) / (1920 - 320));
}
.logo::first-letter {
  color: var(--color-accent);
}

.footer {
  padding-block: clamp(40px, 3vw, 90px);
}

.subfooter {
  -webkit-border-after: 1px solid var(--color-gray);
          border-block-end: 1px solid var(--color-gray);
  -webkit-padding-after: clamp(25px, 2vw, 64px);
          padding-block-end: clamp(25px, 2vw, 64px);
}

.subfooter__title:not(:last-child) {
  -webkit-margin-after: clamp(25px, 2vw, 64px);
          margin-block-end: clamp(25px, 2vw, 64px);
}

.subfooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-margin-end: -15px;
          margin-inline-end: -15px;
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
  -webkit-column-gap: clamp(15px, 2vw, 39px);
     -moz-column-gap: clamp(15px, 2vw, 39px);
          column-gap: clamp(15px, 2vw, 39px);
}
@media (min-width: 72.25em) {
  .subfooter__list {
    padding-inline: 40px;
  }
}

.subfooter__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  aspect-ratio: 1;
  scroll-snap-align: start;
  border-radius: 8px;
  overflow: hidden;
}
.subfooter__item:hover .subfooter__overlay {
  translate: 0px 0%;
}

.subfooter__link img {
  border-radius: 8px;
}

.subfooter__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  translate: 0px -100%;
  -webkit-transition: translate 0.3s ease;
  transition: translate 0.3s ease;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: clamp(25px, 2vw, 52px);
          padding-block-start: clamp(25px, 2vw, 52px);
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 3.75rem;
}
@media (max-width: 62.06125em) {
  .body-footer {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}

.body-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-column-gap: clamp(15px, 1.5vw, 40px);
     -moz-column-gap: clamp(15px, 1.5vw, 40px);
          column-gap: clamp(15px, 1.5vw, 40px);
}
@media (max-width: 62.06125em) {
  .body-footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.body-footer__menu-item {
  color: var(--color-dark-gray);
  line-height: 1.7;
}
.body-footer__menu-item a {
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover), (pointer: fine) {
  .body-footer__menu-item a:hover {
    color: var(--color-accent);
  }
}

.news-form {
  position: relative;
  width: 100%;
  min-height: 2.5rem;
  -webkit-padding-after: 0.8125rem;
          padding-block-end: 0.8125rem;
  -webkit-border-after: 1px solid var(--color-black);
          border-block-end: 1px solid var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (min-width: 62.0625em) {
  .news-form {
    max-width: 25rem;
    justify-self: end;
  }
}
.news-form input {
  width: 100%;
  height: 100%;
  -webkit-transition: outline 0.3s ease;
  transition: outline 0.3s ease;
}
.news-form input::-webkit-input-placeholder {
  color: var(--color-dark-gray);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::-moz-placeholder {
  color: var(--color-dark-gray);
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input:-ms-input-placeholder {
  color: var(--color-dark-gray);
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::-ms-input-placeholder {
  color: var(--color-dark-gray);
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::placeholder {
  color: var(--color-dark-gray);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input:focus-visible, .news-form input:focus {
  outline: 1px solid var(--color-accent);
}
.news-form input:focus-visible::-webkit-input-placeholder, .news-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::-moz-placeholder, .news-form input:focus::-moz-placeholder {
  opacity: 0;
}
.news-form input:focus-visible:-ms-input-placeholder, .news-form input:focus:-ms-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::-ms-input-placeholder, .news-form input:focus::-ms-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::placeholder, .news-form input:focus::placeholder {
  opacity: 0;
}
.news-form button {
  translate: -5px 0px;
  -webkit-transition: translate 0.3s ease-in-out;
  transition: translate 0.3s ease-in-out;
}
@media (any-hover: hover), (pointer: fine) {
  .news-form button:hover {
    translate: 0px 0px;
  }
}

@media (max-width: 62.06125em) {
  .body-footer__copy {
    display: none;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (min-width: 62.0625em) {
  .socials {
    max-width: 25rem;
    justify-self: end;
  }
}
@media (max-width: 62.06125em) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__link svg {
  color: var(--color-dark-gray);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover), (pointer: fine) {
  .socials__link svg:hover {
    color: var(--color-accent);
  }
}       border-block-end: 1px solid var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (min-width: 62.0625em) {
  .news-form {
    max-width: 25rem;
    justify-self: end;
  }
}
.news-form input {
  width: 100%;
  height: 100%;
  -webkit-transition: outline 0.3s ease;
  transition: outline 0.3s ease;
}
.news-form input::-webkit-input-placeholder {
  color: var(--color-dark-gray);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::-moz-placeholder {
  color: var(--color-dark-gray);
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input:-ms-input-placeholder {
  color: var(--color-dark-gray);
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::-ms-input-placeholder {
  color: var(--color-dark-gray);
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input::placeholder {
  color: var(--color-dark-gray);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news-form input:focus-visible, .news-form input:focus {
  outline: 1px solid var(--color-accent);
}
.news-form input:focus-visible::-webkit-input-placeholder, .news-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::-moz-placeholder, .news-form input:focus::-moz-placeholder {
  opacity: 0;
}
.news-form input:focus-visible:-ms-input-placeholder, .news-form input:focus:-ms-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::-ms-input-placeholder, .news-form input:focus::-ms-input-placeholder {
  opacity: 0;
}
.news-form input:focus-visible::placeholder, .news-form input:focus::placeholder {
  opacity: 0;
}
.news-form button {
  translate: -5px 0px;
  -webkit-transition: translate 0.3s ease-in-out;
  transition: translate 0.3s ease-in-out;
}
@media (any-hover: hover), (pointer: fine) {
  .news-form button:hover {
    translate: 0px 0px;
  }
}

@media (max-width: 62.06125em) {
  .body-footer__copy {
    display: none;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (min-width: 62.0625em) {
  .socials {
    max-width: 25rem;
    justify-self: end;
  }
}
@media (max-width: 62.06125em) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__link svg {
  color: var(--color-dark-gray);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover), (pointer: fine) {
  .socials__link svg:hover {
    color: var(--color-accent);
  }
}

@media (min-width: 767.98px) {
  .menu-icon {
    display: none;
  }
}
.menu-icon {
  width: 30px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
  content: "";
  position: absolute;
  height: 1.3px;
  width: 100%;
  background-color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
}

.menu-icon span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span::before {
  top: -8px;
}

.menu-icon span::after {
  bottom: -8px;
}

.menu-icon.active span {
  background: transparent;
}

.menu-icon.active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.menu-icon.active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.hero {
  padding-block: 3.125rem;
}

.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  height: 100%;
  min-height: 40.375rem;
}

.swiper-slide {
  position: relative;
  min-height: 40.375rem;
  border-radius: 16px;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
}

.slide-content {
  color: var(--color-white);
  line-height: 1.3;
  padding: clamp(15px, 5vw, 40px);
}

.slide-title {
  font-size: 2.0625rem;
  font-weight: 500;
}

.slide-price {
  font-size: 1.625rem;
}

.swiper-pagination-bullet {
  width: 0.625rem;
}