
:root {
	/* MAIN COLORS */
	--color-accent: #a18a68;
	--color-white: #ffffff;
	--color-black: #000000;

	/* NEUTRAL COLORS */
	--color-dark-gray: #707070;
	--color-gray: #d8d8d8;
	--color-light-gray: #efefef;

	/* SERVICE COLORS */
	--color-error: #db2700;

	/* Light theme specific */
	--color-background: #ffffff;
	--color-text: #000000;
	--color-bg-accent: #edd9bb;

	/* Fonts */
	--primary-font: "DM Sans", sans-serif;
	--secondary-font: "Allerta Stencil", sans-serif;
}

[data-theme="dark"] {
	--color-background: #000000;
	--color-text: #ffffff;

	--color-dark-gray: #efefef;
	--color-gray: #707070;
	--color-light-gray: #3a3a3a;
}