@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/extends" as *;

.subtitle {
	line-height: 1.4;
	@include fluid-font(22, 26);
}
.likes,
.comments {
	display: flex;
	align-items: center;
	column-gap: rem(4);
	transition: translate 0.3s ease-in-out;
	img {
		width: 21px;
		aspect-ratio: 1;
		object-fit: contain;
	}

	@media (any-hover: hover), (pointer: fine) {
		&:hover {
			translate: 0px 3px;
		}
	}
}
.error {
	position: absolute;
	top: 100%;
	translate: 0px 5px;
	color: var(--color-error);
}
.block-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: rem(20);

	@media (max-width: em(529.98)) {
		flex-direction: column;
		row-gap: rem(10);
	}
}
.title {
	@include fluid-font(28, 33);
	font-weight: 500;
	line-height: 1.3;
}
.link {
	position: relative;
	color: var(--color-accent);
	font-size: rem(20);
	font-weight: 500;
	line-height: 1.3;
	text-transform: capitalize;

	&::after {
		content: "";
		position: absolute;
		bottom: rem(3);
		left: 0;
		width: 0;
		height: rem(1.5);
		background-color: var(--color-accent);
		transition: width 0.3s ease-in-out;
	}

	&:hover::after {
		width: 100%;
	}
}
// ============================================
.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem;
}
// ============================================
/* Chrome, Edge, Safari */
.scrollable {
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) var(--color-light-gray);
}
/* Webkit (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.scrollable::-webkit-scrollbar-thumb {
	background-color: var(--color-accent);
	border-radius: 4px;
	border: none;
}
.scrollable::-webkit-scrollbar-track {
	background: var(--color-light-gray);
}
.scrollable::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-accent);
}
